<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Error Page</title>
</head>
<body>

	<div layout:fragment="content">
		<section class="my-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12 padding-bottom10 page-heading">
						<h6>Something went wrong</h6>

					</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<span th:text="${error}"></span> <br/> <span
							th:text="${param.error}"></span>
					</div>
				</div>
			</div>

		</section>
	</div>
</body>
</html>